$background: #ecebf3;
$mainColor: #0c1821;
$secondaryColor: #1e2f48;
//$mainAccentColor: #c9847e;
$mainAccentColor: #e1ae33;
$secondaryAccentColor: #93a8ac;

body {
  background-color: $background;
}

img#logo {
  height: 70px;
  width: 200px;
  margin: 0px;
  padding: 0px;
}

header.navbar {
  padding: 0px;
}

div.separator {
  height: 30px;
  background-color: #ffd700;
}

div.separator-sm {
  height: 5px;
  background-color: #ffd700;
}

canvas#canvas {
  display: block;
}

@font-face {
  font-family: 'Ancient';
  src: url('../font/Ancient\ Medium.ttf');
}

//***********************
//* bootstrap overrides *
//***********************
.btn-primary {
  background-color: $mainAccentColor !important;
}

.btn-success {
  background-color: $secondaryAccentColor !important;
}

.bg-dark {
  background-color: $mainColor !important;
}

.bg-secondary {
  background-color: $secondaryColor !important;
}
