body {
  background-color: #ecebf3; }

img#logo {
  height: 70px;
  width: 200px;
  margin: 0px;
  padding: 0px; }

header.navbar {
  padding: 0px;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5); }

div.separator {
  height: 50px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.5); }

.btn-primary {
  background-color: #e1ae33 !important; }

.btn-success {
  background-color: #93a8ac !important; }

.bg-dark {
  background-color: #0c1821 !important; }

.bg-secondary {
  background-color: #1e2f48 !important; }
